/*** Header Styles ***/

#navbar-expanded {
    box-shadow: 2px 2px black;
    background-color: aliceblue;
}

span.menu-row {
    border: 1px solid black;
    border-right: 2px solid black;
    }

/*** Main Content Styles ***/

#menu-grid {
    background-color: beige;
}

/*** Desktop & Tablet (sm in BS3, md in BS5 ***/
@media (min-width: 768px) {
    #menu-grid {
        margin: auto;
    }
}

/*** Mobile (xs in BS3, sm in BS5) ***/
@media (max-width: 767px) {
    #menu-grid {
        margin-left: 10%;
        margin-right: 10%;
    }
}